* {
  margin: 0;
  padding: 0;
}

.color-app {
  background-color: rgb(251, 247, 247);
}

.width-input-login {
  max-width: 300px;
  margin: auto;
}

.txt-login {
  font-weight: 900;
  margin-bottom: 40px;
}

.container-login {
  text-align: center;
  border-radius: 10px;
  max-width: 320px;
  box-shadow: 10px 10px 5px rgb(193, 190, 190);
}

.txt-cadastro {
  font-size: 0.8em;
  margin: 30px 10px 0px 10px;
  border-top: 1px solid rgb(204, 200, 200);
}

.cadastrar {
  margin-bottom: 30px;
}

.min-password {
  font-size: 0.7em;
}

/* Cadastro */
.adjustment-height {
  margin-top: -13px;
}

.width-input-cadastro {
  margin: auto;
  margin-bottom: 30px;
}

/* Header */
.header-color {
  background-color: rgb(245, 242, 242);
}

/* Loja */
.height {
  height: 70px;
  line-height: 70px;
  padding: 5px;
}

.logo {
  width: 150px;
}

.logo a img {
  width: 90%;
}

.filtar-and-cart {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin: 5px;
  line-height: 20px;
}
.filtar-and-cart img {
  width: 100%;
}

.btn-filter-cart {
  background-color: transparent;
  border: none;
}
.btn-filter-cart:hover {
  background-color: transparent;
  border: none;
}

.img {
  width: 40%;
}

/* Parte de filtros */
.valor-filtro {
  color: red;
  font-size: 1.2em;
  font-weight: 800;
  margin-left: 6px;
}

.simbulo {
  font-size: 0.8em;
  margin: 3px;
  font-weight: 800;
}

/* carrinho de compras */
.carrinho-compras {
  box-shadow: 10px 10px 5px rgb(193, 190, 190);
  border-radius: 10px;
  position: absolute;
  right: 1px;
  top: 72px;
  width: 350px;
  background-color: rgb(227, 223, 223);
  opacity: 93%;
  z-index: 1;
}
.card-carrinho {
  padding: 15px;
  width: 90%;
  margin: auto;
  margin-bottom: 10px;
  border-bottom: 1px solid rgb(194, 187, 187);
}
.card-carrinho img {
  width: 90%;
  margin: auto;
}
.card-carrinho .title {
  font-size: 0.9em;
}
.card-carrinho .price {
  font-size: 0.8em;
}
.remover {
  font-size: 0.7em;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  width: 60px;
  height: 20px;
}
.remover:hover {
  border: none;
}
.totalPrice {
  border: 1px solid red;
  padding: 5px;
  border-radius: 5px;
  background-color: rgb(213, 33, 33);
  color: white;
  font-weight: 900;
}

/* Card Produtos */
.card-produto {
  max-width: 300px;
  padding: 10px 5px;
  border: 1px solid rgb(192, 185, 185);
  border-radius: 10px;
}

.card-img {
  width: 55%;
  margin: auto;
}
.card-produto .title {
  font-size: 1.2em;
}
.card-produto .price {
  font-size: 1em;
  font-weight: 900;
  margin: 0;
}
.btn-detalhe {
  width: 100%;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: black;

}
.card-produto .price-color {
  color: rgb(214, 26, 26);
  margin: 5px;
  font-weight: 1000;
  font-size: 1.2em;
}

/* Pagina de detalhes */
.card-detalhes {
  max-width: 540px;
  margin: auto;
  margin-top: 20px;
}

/* Telas pequenas */
@media only screen and (max-width: 600px) {
  .logo {
    width: 100px;
  }
  .logo a img {
    width: 100%;
  }
  .search {
    height: 30px;
  }
  .btn-filter-cart {
    width: 30px;
  }
  
  .btn-filter-cart img {
    width: 250%;
  }
  
  .img {
    width: 20px;
    margin-bottom: 14px;
  }

  .carrinho-compras {
    width: 90%;
  }

  .card-produto .title {
    font-size: 0.8em;
  }
  .card-produto {
    width: 43%;
  }
  .card-produto .price {
    font-size: 0.6em;
  }
  .section-loja {
    margin: 2px !important;
  }
  .addCart {
    font-size: 0.7em;
  }
}